{
  "extends": "../../.eslintrc",
  "env": {
    "node": true,
    "jest": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    }
  },
  "rules": {
    "camelcase": "off"
  }
}
